<%- include("./partials/head")  %>
<main class="form-signin w-100 m-auto text-center">
    <form action="/vendor-register" method="post">
      <img class="mb-4" src="/img/logo.png" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  
      <div class="form-floating">
        <input type="text" class="form-control" name="username" placeholder="name@example.com">
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" name="password" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" name="realname" placeholder="Enter Your Business Name">
        <label for="floatingPassword">Business Name</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" name="address" placeholder="Enter Your Address">
        <label for="floatingPassword">Address</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" name="role" value="vendor" readonly>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>

      <button class="w-100 btn btn-lg btn-primary"><a href="/">Already Have Account, Login</a></button>
      <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
    </form>
  </main>
  <%- include("./partials/ending") %>