<div>
    <header>
        <nav class="navigation1">
            <img src="./images/logo1.png" alt="logo">
            <div class="search-box">
                <form>
                <input type="text" name="" placeholder="Search">
                <button><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></button>
                </form>
            </div>
            <div class="navigation2">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#"><i class="fa-sharp fa-solid fa-user" style="color: #ffffff;"></i></a></li>
                    <li><a href="#"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
        </nav>
    </header>
</div>
